<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Events</h2>
                    <h3 class="section-subheading text-muted">come join us!</h3>
                </div>
            </div>
            <div class="row">
				<div class = "col-sm-1">
				</div>
				<div class = "col-sm-2">
					<div class = "event-time">
						<h3>Sep</h3>
						<h3>9</h3>
						<hr />
						<h3>8 PM</h3>
					</div>
				</div>
				<div class = "col-sm-9">
					<div class = "event-detail">
						<h3>Frisbee and Floats</h3>
						<h4 class="info"><i class = "fa fa-calendar-o"></i> Sunday, September 9</h4>
						<h4 class="info"><i class = "fa fa-clock-o"></i> 8:00 PM - 10:00 PM</h4>
						<h4 class="info"><i class = "fa fa-map-marker"></i> <a href = "https://goo.gl/maps/BziUUZs6DFo">MIT Jack Barry Field</a></h4>										
						<h6>Come join us for a fun time of ultimate frisbee and root beer floats with BU students in our sister club (BU Christians on Campus). This will also be a great time to meet other Christian students</h6>
					</div>
				</div>
            </div>
			<div class="row">
				<div class = "col-sm-1">
				</div>
				<div class = "col-sm-2">
					<div class = "event-time">
						<h3>Sep</h3>
						<h3>14</h3>
						<hr />
						<h3>8 PM</h3>
					</div>
				</div>
				<div class = "col-sm-9">
					<div class = "event-detail">
						<h3>Intercollegiate Praise and Ministry Meeting (IPMM)</h3>
						<h4 class="info"><i class = "fa fa-calendar-o"></i> Friday, September 14</h4>
						<h4 class="info"><i class = "fa fa-clock-o"></i> 8:00 PM - 10:00 PM</h4>
						<h4 class="info"><i class = "fa fa-map-marker"></i> <a href = "https://goo.gl/maps/RE1c8fS4UaU2">Harvard University Science Center Hall D</a></h4>										
						<h6>The IPMM is an exciting monthly get-together for students from Boston-area universities, hosted from campus to campus. We come together to sing, fellowship with one another, and be encouraged by a message from the Word. This Fall, Harvard Christians on Campus will host the first IPMM of the year!</h6>
					</div>
				</div>
            </div>
        </div>
    </section>