<!-- Faith Section -->
    <section id="faith" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WHAT WE BELIEVE: THE GENUINE CHRISTIAN FAITH</h2>
                    <h3 class="section-subheading text-muted">We hold the faith which is common to all believers (Titus 1:4, Jude 3).</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">THE BIBLE</h4>
						<p class="text-muted">The Bible is the complete divine revelation inspired word-by-word by God through the Holy Spirit.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/FootNotes.asp?FNtsID=8046">2 Peter 1:21</a>, <a href = "https://online.recoveryversion.bible/FootNotes.asp?FNtsID=6966">2 Timothy 3:16</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">THE TRIUNE GOD</h4>
						<p class="text-muted">God is uniquely one, yet triune - the Father, the Son, and the Spirit.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/FootNotes.asp?FNtsID=6636">1 Tim 2:5a</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=1070&lvid=1070">Matthew 28:19</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">JESUS CHRIST</h4>
						<p class="text-muted">The Son of God, even God Himself, was incarnated to be a man by the name of Jesus Christ.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=2901&lvid=2901">John 1:1</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=2914&lvid=2914">John 1:14</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">CHRIST'S CRUCIFIXION</h4>
						<p class="text-muted">Christ died on the cross for our sins, shedding His blood for our redemption.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=7279&lvid=7279">1 Peter 2:24</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=6069&lvid=6069">Ephesians 1:7</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">CHRIST'S RESURRECTION</h4>
						<p class="text-muted">Christ resurrected from among the dead on the third day.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=5578&lvid=5578">1 Corinthians 15:4</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">CHRIST'S ASCENSION</h4>
						<p class="text-muted">Christ ascended to the right hand of God to be Lord of all..</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=3788&lvid=3788">Acts 1:9</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=3838&lvid=3838">Acts 2:33</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=3841&lvid=3841">Acts 2:36</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">REGENERATION</h4>
						<p class="text-muted">Whenever any person repents to God and believes in the Lord Jesus Christ, he or she is regenerated (born again) and becomes a living member of the one Body of Christ​.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=4503&lvid=4503">Acts 20:21</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=2979&lvid=2979">John 3:3</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=6084&lvid=6085">Ephesians 1:22-23</a>, <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=5106&lvid=5106">Romans 12:5</a></p>
                    </div>
                </div>
				<div class="col-sm-3">
                    <div class="faith-box">
						<h4 class = "faith-heading">CHRIST'S RETURN</h4>
						<p class="text-muted">Christ is coming again to receive His believers to Himself.</p>
						<p class ="text-muted"> <a href = "https://online.recoveryversion.bible/bibleverses.asp?fvid=6445&lvid=6445">1 Thessalonians 2:19</a></p>
                    </div>
                </div>
			</div>
        </div>
    </section>